@(tasks: List[Task], taskForm: Form[String])

@import helper._
@import helper.bootstrap._

@main("Task List") {

  <div class="row">
    <span class="span12">
      @form(routes.Application.newTask, 'class -> "well form-inline") {
        @inputText(taskForm("label"), 'placeholder -> "Enter a new task...")
        <button type="submit" class="btn btn-primary">Create</button>
      }
    </span>
  </div>


  @tasks.map { task =>
    <div class="row">
      <span class="span11">@task.label</span>
      <a href="#" class="ajax-post-link close" data-url="@routes.Application.deleteTask(task.id)">&times;</a>
    </div>
  }
  <hr>
  <footer>
    <p>@tasks.size task(s)</p>
  </footer>
}